@charset "utf-8";
/* CSS Document */
 
<html> 

p {
 font-family: PT Mono; 
 text-align: left; 
 font-size: 17px; 
}

h2 { 
 font-famoly: PT Mono; 
 text-align: left: 
 font-size: 20px; 
}

h3 { 
 font-family: PT Mono; 
 text-align: center; 
 font-size: 20px; 

</body> 
</html>